{{#each questions as |question|}}
  <div class='row mb-4 question'>
    <div class='col-md-5'>
      <h2>
        <a href='/question/{{question.id}}'>{{question.name}}</a>
      </h2>
      <p>
        <span class='question-topic'>
          /question
        </span>
      </p>
      <p>Asked by
        {{question.user.name}}
      </p>
    </div>
  </div>
{{/each}}

<!-- Loop over each object in the threads array -->
{{#each interviews as |interview|}}
  <div class='row mb-4 question'>
    <div class='col-md-5'>
      <h2>
        <a href='/interview/{{interview.id}}'>{{interview.name}}</a>
      </h2>
      <p>
        <span class='interview-topic'>{{interview.topic}}</span>
        /topic
      </p>
      <p>Shared by
        {{interview.user.name}}
        on
        {{format_date interview.date_created}}</p>
    </div>
    <div class='col-md-7'>
      <p>
        {{interview.description}}
      </p>
    </div>
  </div>
{{/each}}