{{! Class for the interview information }}
<div class='text-white font-mono text-2xl flex justify-center pb-8 space-x-10'>
  <h2>{{name}}</h2>
  <p>{{{questions}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <button class='btn btn-primary'>Help this developer out</button>
  </p>
</div> 